archive/src/inception-sms/src/main/resources/META-INF/wsdl/MyMobileAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/"
                  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="http://www.mymobileapi.com/api5"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:s="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
                  targetNamespace="http://www.mymobileapi.com/api5"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.mymobileapi.com/api5" xmlns:s="http://www.w3.org/2001/XMLSchema">
      <s:element name="Credits_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Credits_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credits_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Credits_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Credits_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Credits_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_STR_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_STR_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Send_STR_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_STR_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_STR_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Send_STR_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_DS_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_DS_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Send_DS_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_ZIP_ZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_ZIP_ZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Send_ZIP_ZIPResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_DS_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Send_DS_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Send_DS_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_STR_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_STR_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sent_STR_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_STR_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_STR_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sent_STR_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_DS_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_DS_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sent_DS_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_DS_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_DS_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sent_DS_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_STR_ZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_STR_ZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sent_STR_ZIPResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_DS_ZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Sent_DS_ZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Sent_DS_ZIPResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_STR_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_STR_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reply_STR_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_STR_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_STR_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reply_STR_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_DS_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_DS_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reply_DS_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_DS_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_DS_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reply_DS_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_STR_ZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_STR_ZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reply_STR_ZIPResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_DS_ZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reply_DS_ZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Reply_DS_ZIPResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Doc_DS_ZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Doc_DS_ZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Doc_DS_ZIPResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_STR_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_STR_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_STR_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_STR_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_STR_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_STR_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_DS_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_DS_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_DS_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_DS_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_DS_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_DS_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Update_STR_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Update_STR_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Update_STR_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Update_STR_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Update_STR_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Update_STR_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Update_DS_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Update_DS_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Update_DS_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Update_DS_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Update_DS_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Update_DS_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_STR_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_STR_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Get_STR_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_STR_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_STR_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Get_STR_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_DS_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_DS_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Get_DS_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_DS_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_DS_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Get_DS_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_STR_ZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_STR_ZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Get_STR_ZIPResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_DS_ZIP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Get_DS_ZIPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Get_DS_ZIPResult" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Count_DS_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Count_DS_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Count_DS_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Count_DS_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Count_DS_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Count_DS_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Count_STR_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Count_STR_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Count_STR_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Count_STR_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ShortCode_Count_STR_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ShortCode_Count_STR_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Groups_List_STR_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Groups_List_STR_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Groups_List_STR_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Groups_List_STR_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Groups_List_STR_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Groups_List_STR_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Groups_List_DS_STR">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Groups_List_DS_STRResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Groups_List_DS_STRResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Groups_List_DS_DS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Data">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Groups_List_DS_DSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Groups_List_DS_DSResult">
              <s:complexType>
                <s:sequence>
                  
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="Credits_STRSoapIn">
    <wsdl:part name="parameters" element="tns:Credits_STR" />
  </wsdl:message>
  <wsdl:message name="Credits_STRSoapOut">
    <wsdl:part name="parameters" element="tns:Credits_STRResponse" />
  </wsdl:message>
  <wsdl:message name="Credits_DSSoapIn">
    <wsdl:part name="parameters" element="tns:Credits_DS" />
  </wsdl:message>
  <wsdl:message name="Credits_DSSoapOut">
    <wsdl:part name="parameters" element="tns:Credits_DSResponse" />
  </wsdl:message>
  <wsdl:message name="Send_STR_DSSoapIn">
    <wsdl:part name="parameters" element="tns:Send_STR_DS" />
  </wsdl:message>
  <wsdl:message name="Send_STR_DSSoapOut">
    <wsdl:part name="parameters" element="tns:Send_STR_DSResponse" />
  </wsdl:message>
  <wsdl:message name="Send_STR_STRSoapIn">
    <wsdl:part name="parameters" element="tns:Send_STR_STR" />
  </wsdl:message>
  <wsdl:message name="Send_STR_STRSoapOut">
    <wsdl:part name="parameters" element="tns:Send_STR_STRResponse" />
  </wsdl:message>
  <wsdl:message name="Send_DS_STRSoapIn">
    <wsdl:part name="parameters" element="tns:Send_DS_STR" />
  </wsdl:message>
  <wsdl:message name="Send_DS_STRSoapOut">
    <wsdl:part name="parameters" element="tns:Send_DS_STRResponse" />
  </wsdl:message>
  <wsdl:message name="Send_ZIP_ZIPSoapIn">
    <wsdl:part name="parameters" element="tns:Send_ZIP_ZIP" />
  </wsdl:message>
  <wsdl:message name="Send_ZIP_ZIPSoapOut">
    <wsdl:part name="parameters" element="tns:Send_ZIP_ZIPResponse" />
  </wsdl:message>
  <wsdl:message name="Send_DS_DSSoapIn">
    <wsdl:part name="parameters" element="tns:Send_DS_DS" />
  </wsdl:message>
  <wsdl:message name="Send_DS_DSSoapOut">
    <wsdl:part name="parameters" element="tns:Send_DS_DSResponse" />
  </wsdl:message>
  <wsdl:message name="Sent_STR_DSSoapIn">
    <wsdl:part name="parameters" element="tns:Sent_STR_DS" />
  </wsdl:message>
  <wsdl:message name="Sent_STR_DSSoapOut">
    <wsdl:part name="parameters" element="tns:Sent_STR_DSResponse" />
  </wsdl:message>
  <wsdl:message name="Sent_STR_STRSoapIn">
    <wsdl:part name="parameters" element="tns:Sent_STR_STR" />
  </wsdl:message>
  <wsdl:message name="Sent_STR_STRSoapOut">
    <wsdl:part name="parameters" element="tns:Sent_STR_STRResponse" />
  </wsdl:message>
  <wsdl:message name="Sent_DS_STRSoapIn">
    <wsdl:part name="parameters" element="tns:Sent_DS_STR" />
  </wsdl:message>
  <wsdl:message name="Sent_DS_STRSoapOut">
    <wsdl:part name="parameters" element="tns:Sent_DS_STRResponse" />
  </wsdl:message>
  <wsdl:message name="Sent_DS_DSSoapIn">
    <wsdl:part name="parameters" element="tns:Sent_DS_DS" />
  </wsdl:message>
  <wsdl:message name="Sent_DS_DSSoapOut">
    <wsdl:part name="parameters" element="tns:Sent_DS_DSResponse" />
  </wsdl:message>
  <wsdl:message name="Sent_STR_ZIPSoapIn">
    <wsdl:part name="parameters" element="tns:Sent_STR_ZIP" />
  </wsdl:message>
  <wsdl:message name="Sent_STR_ZIPSoapOut">
    <wsdl:part name="parameters" element="tns:Sent_STR_ZIPResponse" />
  </wsdl:message>
  <wsdl:message name="Sent_DS_ZIPSoapIn">
    <wsdl:part name="parameters" element="tns:Sent_DS_ZIP" />
  </wsdl:message>
  <wsdl:message name="Sent_DS_ZIPSoapOut">
    <wsdl:part name="parameters" element="tns:Sent_DS_ZIPResponse" />
  </wsdl:message>
  <wsdl:message name="Reply_STR_DSSoapIn">
    <wsdl:part name="parameters" element="tns:Reply_STR_DS" />
  </wsdl:message>
  <wsdl:message name="Reply_STR_DSSoapOut">
    <wsdl:part name="parameters" element="tns:Reply_STR_DSResponse" />
  </wsdl:message>
  <wsdl:message name="Reply_STR_STRSoapIn">
    <wsdl:part name="parameters" element="tns:Reply_STR_STR" />
  </wsdl:message>
  <wsdl:message name="Reply_STR_STRSoapOut">
    <wsdl:part name="parameters" element="tns:Reply_STR_STRResponse" />
  </wsdl:message>
  <wsdl:message name="Reply_DS_STRSoapIn">
    <wsdl:part name="parameters" element="tns:Reply_DS_STR" />
  </wsdl:message>
  <wsdl:message name="Reply_DS_STRSoapOut">
    <wsdl:part name="parameters" element="tns:Reply_DS_STRResponse" />
  </wsdl:message>
  <wsdl:message name="Reply_DS_DSSoapIn">
    <wsdl:part name="parameters" element="tns:Reply_DS_DS" />
  </wsdl:message>
  <wsdl:message name="Reply_DS_DSSoapOut">
    <wsdl:part name="parameters" element="tns:Reply_DS_DSResponse" />
  </wsdl:message>
  <wsdl:message name="Reply_STR_ZIPSoapIn">
    <wsdl:part name="parameters" element="tns:Reply_STR_ZIP" />
  </wsdl:message>
  <wsdl:message name="Reply_STR_ZIPSoapOut">
    <wsdl:part name="parameters" element="tns:Reply_STR_ZIPResponse" />
  </wsdl:message>
  <wsdl:message name="Reply_DS_ZIPSoapIn">
    <wsdl:part name="parameters" element="tns:Reply_DS_ZIP" />
  </wsdl:message>
  <wsdl:message name="Reply_DS_ZIPSoapOut">
    <wsdl:part name="parameters" element="tns:Reply_DS_ZIPResponse" />
  </wsdl:message>
  <wsdl:message name="Doc_DS_ZIPSoapIn">
    <wsdl:part name="parameters" element="tns:Doc_DS_ZIP" />
  </wsdl:message>
  <wsdl:message name="Doc_DS_ZIPSoapOut">
    <wsdl:part name="parameters" element="tns:Doc_DS_ZIPResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_STR_DSSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_STR_DS" />
  </wsdl:message>
  <wsdl:message name="ShortCode_STR_DSSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_STR_DSResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_STR_STRSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_STR_STR" />
  </wsdl:message>
  <wsdl:message name="ShortCode_STR_STRSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_STR_STRResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_DS_STRSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_DS_STR" />
  </wsdl:message>
  <wsdl:message name="ShortCode_DS_STRSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_DS_STRResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_DS_DSSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_DS_DS" />
  </wsdl:message>
  <wsdl:message name="ShortCode_DS_DSSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_DS_DSResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Update_STR_DSSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Update_STR_DS" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Update_STR_DSSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Update_STR_DSResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Update_STR_STRSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Update_STR_STR" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Update_STR_STRSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Update_STR_STRResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Update_DS_STRSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Update_DS_STR" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Update_DS_STRSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Update_DS_STRResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Update_DS_DSSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Update_DS_DS" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Update_DS_DSSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Update_DS_DSResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_STR_DSSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_STR_DS" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_STR_DSSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_STR_DSResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_STR_STRSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_STR_STR" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_STR_STRSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_STR_STRResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_DS_STRSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_DS_STR" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_DS_STRSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_DS_STRResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_DS_DSSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_DS_DS" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_DS_DSSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_DS_DSResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_STR_ZIPSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_STR_ZIP" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_STR_ZIPSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_STR_ZIPResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_DS_ZIPSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_DS_ZIP" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Get_DS_ZIPSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Get_DS_ZIPResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Count_DS_DSSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Count_DS_DS" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Count_DS_DSSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Count_DS_DSResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Count_DS_STRSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Count_DS_STR" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Count_DS_STRSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Count_DS_STRResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Count_STR_DSSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Count_STR_DS" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Count_STR_DSSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Count_STR_DSResponse" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Count_STR_STRSoapIn">
    <wsdl:part name="parameters" element="tns:ShortCode_Count_STR_STR" />
  </wsdl:message>
  <wsdl:message name="ShortCode_Count_STR_STRSoapOut">
    <wsdl:part name="parameters" element="tns:ShortCode_Count_STR_STRResponse" />
  </wsdl:message>
  <wsdl:message name="Groups_List_STR_DSSoapIn">
    <wsdl:part name="parameters" element="tns:Groups_List_STR_DS" />
  </wsdl:message>
  <wsdl:message name="Groups_List_STR_DSSoapOut">
    <wsdl:part name="parameters" element="tns:Groups_List_STR_DSResponse" />
  </wsdl:message>
  <wsdl:message name="Groups_List_STR_STRSoapIn">
    <wsdl:part name="parameters" element="tns:Groups_List_STR_STR" />
  </wsdl:message>
  <wsdl:message name="Groups_List_STR_STRSoapOut">
    <wsdl:part name="parameters" element="tns:Groups_List_STR_STRResponse" />
  </wsdl:message>
  <wsdl:message name="Groups_List_DS_STRSoapIn">
    <wsdl:part name="parameters" element="tns:Groups_List_DS_STR" />
  </wsdl:message>
  <wsdl:message name="Groups_List_DS_STRSoapOut">
    <wsdl:part name="parameters" element="tns:Groups_List_DS_STRResponse" />
  </wsdl:message>
  <wsdl:message name="Groups_List_DS_DSSoapIn">
    <wsdl:part name="parameters" element="tns:Groups_List_DS_DS" />
  </wsdl:message>
  <wsdl:message name="Groups_List_DS_DSSoapOut">
    <wsdl:part name="parameters" element="tns:Groups_List_DS_DSResponse" />
  </wsdl:message>
  <wsdl:portType name="APISoap">
    <wsdl:operation name="Credits_STR">
      <wsdl:input message="tns:Credits_STRSoapIn" />
      <wsdl:output message="tns:Credits_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Credits_DS">
      <wsdl:input message="tns:Credits_DSSoapIn" />
      <wsdl:output message="tns:Credits_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Send_STR_DS">
      <wsdl:input message="tns:Send_STR_DSSoapIn" />
      <wsdl:output message="tns:Send_STR_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Send_STR_STR">
      <wsdl:input message="tns:Send_STR_STRSoapIn" />
      <wsdl:output message="tns:Send_STR_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Send_DS_STR">
      <wsdl:input message="tns:Send_DS_STRSoapIn" />
      <wsdl:output message="tns:Send_DS_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Send_ZIP_ZIP">
      <wsdl:input message="tns:Send_ZIP_ZIPSoapIn" />
      <wsdl:output message="tns:Send_ZIP_ZIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Send_DS_DS">
      <wsdl:input message="tns:Send_DS_DSSoapIn" />
      <wsdl:output message="tns:Send_DS_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sent_STR_DS">
      <wsdl:input message="tns:Sent_STR_DSSoapIn" />
      <wsdl:output message="tns:Sent_STR_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sent_STR_STR">
      <wsdl:input message="tns:Sent_STR_STRSoapIn" />
      <wsdl:output message="tns:Sent_STR_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sent_DS_STR">
      <wsdl:input message="tns:Sent_DS_STRSoapIn" />
      <wsdl:output message="tns:Sent_DS_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sent_DS_DS">
      <wsdl:input message="tns:Sent_DS_DSSoapIn" />
      <wsdl:output message="tns:Sent_DS_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sent_STR_ZIP">
      <wsdl:input message="tns:Sent_STR_ZIPSoapIn" />
      <wsdl:output message="tns:Sent_STR_ZIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Sent_DS_ZIP">
      <wsdl:input message="tns:Sent_DS_ZIPSoapIn" />
      <wsdl:output message="tns:Sent_DS_ZIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reply_STR_DS">
      <wsdl:input message="tns:Reply_STR_DSSoapIn" />
      <wsdl:output message="tns:Reply_STR_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reply_STR_STR">
      <wsdl:input message="tns:Reply_STR_STRSoapIn" />
      <wsdl:output message="tns:Reply_STR_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reply_DS_STR">
      <wsdl:input message="tns:Reply_DS_STRSoapIn" />
      <wsdl:output message="tns:Reply_DS_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reply_DS_DS">
      <wsdl:input message="tns:Reply_DS_DSSoapIn" />
      <wsdl:output message="tns:Reply_DS_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reply_STR_ZIP">
      <wsdl:input message="tns:Reply_STR_ZIPSoapIn" />
      <wsdl:output message="tns:Reply_STR_ZIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reply_DS_ZIP">
      <wsdl:input message="tns:Reply_DS_ZIPSoapIn" />
      <wsdl:output message="tns:Reply_DS_ZIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Doc_DS_ZIP">
      <wsdl:input message="tns:Doc_DS_ZIPSoapIn" />
      <wsdl:output message="tns:Doc_DS_ZIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_STR_DS">
      <wsdl:input message="tns:ShortCode_STR_DSSoapIn" />
      <wsdl:output message="tns:ShortCode_STR_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_STR_STR">
      <wsdl:input message="tns:ShortCode_STR_STRSoapIn" />
      <wsdl:output message="tns:ShortCode_STR_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_DS_STR">
      <wsdl:input message="tns:ShortCode_DS_STRSoapIn" />
      <wsdl:output message="tns:ShortCode_DS_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_DS_DS">
      <wsdl:input message="tns:ShortCode_DS_DSSoapIn" />
      <wsdl:output message="tns:ShortCode_DS_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_STR_DS">
      <wsdl:input message="tns:ShortCode_Update_STR_DSSoapIn" />
      <wsdl:output message="tns:ShortCode_Update_STR_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_STR_STR">
      <wsdl:input message="tns:ShortCode_Update_STR_STRSoapIn" />
      <wsdl:output message="tns:ShortCode_Update_STR_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_DS_STR">
      <wsdl:input message="tns:ShortCode_Update_DS_STRSoapIn" />
      <wsdl:output message="tns:ShortCode_Update_DS_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_DS_DS">
      <wsdl:input message="tns:ShortCode_Update_DS_DSSoapIn" />
      <wsdl:output message="tns:ShortCode_Update_DS_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_STR_DS">
      <wsdl:input message="tns:ShortCode_Get_STR_DSSoapIn" />
      <wsdl:output message="tns:ShortCode_Get_STR_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_STR_STR">
      <wsdl:input message="tns:ShortCode_Get_STR_STRSoapIn" />
      <wsdl:output message="tns:ShortCode_Get_STR_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_DS_STR">
      <wsdl:input message="tns:ShortCode_Get_DS_STRSoapIn" />
      <wsdl:output message="tns:ShortCode_Get_DS_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_DS_DS">
      <wsdl:input message="tns:ShortCode_Get_DS_DSSoapIn" />
      <wsdl:output message="tns:ShortCode_Get_DS_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_STR_ZIP">
      <wsdl:input message="tns:ShortCode_Get_STR_ZIPSoapIn" />
      <wsdl:output message="tns:ShortCode_Get_STR_ZIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_DS_ZIP">
      <wsdl:input message="tns:ShortCode_Get_DS_ZIPSoapIn" />
      <wsdl:output message="tns:ShortCode_Get_DS_ZIPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_DS_DS">
      <wsdl:input message="tns:ShortCode_Count_DS_DSSoapIn" />
      <wsdl:output message="tns:ShortCode_Count_DS_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_DS_STR">
      <wsdl:input message="tns:ShortCode_Count_DS_STRSoapIn" />
      <wsdl:output message="tns:ShortCode_Count_DS_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_STR_DS">
      <wsdl:input message="tns:ShortCode_Count_STR_DSSoapIn" />
      <wsdl:output message="tns:ShortCode_Count_STR_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_STR_STR">
      <wsdl:input message="tns:ShortCode_Count_STR_STRSoapIn" />
      <wsdl:output message="tns:ShortCode_Count_STR_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Groups_List_STR_DS">
      <wsdl:input message="tns:Groups_List_STR_DSSoapIn" />
      <wsdl:output message="tns:Groups_List_STR_DSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Groups_List_STR_STR">
      <wsdl:input message="tns:Groups_List_STR_STRSoapIn" />
      <wsdl:output message="tns:Groups_List_STR_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Groups_List_DS_STR">
      <wsdl:input message="tns:Groups_List_DS_STRSoapIn" />
      <wsdl:output message="tns:Groups_List_DS_STRSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Groups_List_DS_DS">
      <wsdl:input message="tns:Groups_List_DS_DSSoapIn" />
      <wsdl:output message="tns:Groups_List_DS_DSSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="APISoap" type="tns:APISoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Credits_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Credits_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Credits_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Credits_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_STR_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Send_STR_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_STR_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Send_STR_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_DS_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Send_DS_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_ZIP_ZIP">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Send_ZIP_ZIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_DS_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Send_DS_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_STR_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Sent_STR_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_STR_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Sent_STR_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_DS_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Sent_DS_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_DS_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Sent_DS_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_STR_ZIP">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Sent_STR_ZIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_DS_ZIP">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Sent_DS_ZIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_STR_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Reply_STR_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_STR_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Reply_STR_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_DS_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Reply_DS_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_DS_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Reply_DS_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_STR_ZIP">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Reply_STR_ZIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_DS_ZIP">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Reply_DS_ZIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Doc_DS_ZIP">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Doc_DS_ZIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_STR_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_STR_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_STR_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_STR_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_DS_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_DS_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_DS_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_DS_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_STR_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Update_STR_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_STR_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Update_STR_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_DS_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Update_DS_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_DS_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Update_DS_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_STR_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_STR_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_STR_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_STR_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_DS_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_DS_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_DS_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_DS_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_STR_ZIP">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_STR_ZIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_DS_ZIP">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_DS_ZIP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_DS_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Count_DS_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_DS_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Count_DS_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_STR_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Count_STR_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_STR_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Count_STR_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Groups_List_STR_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Groups_List_STR_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Groups_List_STR_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Groups_List_STR_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Groups_List_DS_STR">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Groups_List_DS_STR" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Groups_List_DS_DS">
      <soap:operation soapAction="http://www.mymobileapi.com/api5/Groups_List_DS_DS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="APISoap12" type="tns:APISoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Credits_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Credits_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Credits_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Credits_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_STR_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Send_STR_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_STR_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Send_STR_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_DS_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Send_DS_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_ZIP_ZIP">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Send_ZIP_ZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Send_DS_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Send_DS_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_STR_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Sent_STR_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_STR_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Sent_STR_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_DS_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Sent_DS_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_DS_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Sent_DS_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_STR_ZIP">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Sent_STR_ZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sent_DS_ZIP">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Sent_DS_ZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_STR_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Reply_STR_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_STR_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Reply_STR_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_DS_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Reply_DS_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_DS_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Reply_DS_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_STR_ZIP">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Reply_STR_ZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reply_DS_ZIP">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Reply_DS_ZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Doc_DS_ZIP">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Doc_DS_ZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_STR_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_STR_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_STR_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_STR_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_DS_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_DS_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_DS_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_DS_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_STR_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Update_STR_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_STR_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Update_STR_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_DS_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Update_DS_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Update_DS_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Update_DS_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_STR_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_STR_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_STR_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_STR_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_DS_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_DS_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_DS_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_DS_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_STR_ZIP">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_STR_ZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Get_DS_ZIP">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Get_DS_ZIP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_DS_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Count_DS_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_DS_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Count_DS_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_STR_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Count_STR_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ShortCode_Count_STR_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/ShortCode_Count_STR_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Groups_List_STR_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Groups_List_STR_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Groups_List_STR_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Groups_List_STR_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Groups_List_DS_STR">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Groups_List_DS_STR" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Groups_List_DS_DS">
      <soap12:operation soapAction="http://www.mymobileapi.com/api5/Groups_List_DS_DS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="API">
    <wsdl:port name="APISoap" binding="tns:APISoap">
      <soap:address location="http://www.mymobileapi.com/api5/api.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>