src/inception-sample-client/src/main/resources/META-INF/wsdl/CodesService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://codes.inception.digital" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://validation.inception.digital" name="CodesService" targetNamespace="http://codes.inception.digital">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://validation.inception.digital" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://validation.inception.digital" version="1.0">
  <xs:element name="InvalidArgumentError" type="tns:InvalidArgumentError"/>
  <xs:element name="ValidationError" type="tns:ValidationError"/>
  <xs:element name="ValidationErrorAttribute" type="tns:ValidationErrorAttribute"/>
  <xs:complexType name="InvalidArgumentError">
    <xs:sequence>
      <xs:element name="When" type="xs:dateTime"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Detail" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ValidationErrors" type="tns:ValidationError"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationError">
    <xs:sequence>
      <xs:element name="Property" type="xs:string"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Attributes" type="tns:ValidationErrorAttribute"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationErrorAttribute">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element minOccurs="0" name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidArgumentException" nillable="true" type="tns:InvalidArgumentError"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://core.inception.digital" xmlns:core="http://core.inception.digital" elementFormDefault="unqualified" targetNamespace="http://core.inception.digital" version="1.0">

  <xs:element name="ServiceError" type="tns:ServiceError"/>

  <xs:complexType name="ServiceError">
    <xs:sequence>
      <xs:element name="When" type="xs:dateTime"/>
      <xs:element name="Code" type="xs:string"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element name="Detail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:validation="http://validation.inception.digital" xmlns:tns="http://codes.inception.digital" xmlns:core="http://core.inception.digital" xmlns:codes="http://codes.inception.digital" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://codes.inception.digital" version="1.0">
  <xs:element name="Code" type="codes:Code"/>
  <xs:element name="CodeCategory" type="codes:CodeCategory"/>
  <xs:element name="CodeCategorySummary" type="codes:CodeCategorySummary"/>
  <xs:element name="CreateCode" type="codes:CreateCode"/>
  <xs:element name="CreateCodeCategory" type="codes:CreateCodeCategory"/>
  <xs:element name="CreateCodeCategoryResponse" type="codes:CreateCodeCategoryResponse"/>
  <xs:element name="CreateCodeResponse" type="codes:CreateCodeResponse"/>
  <xs:element name="DeleteCode" type="codes:DeleteCode"/>
  <xs:element name="DeleteCodeCategory" type="codes:DeleteCodeCategory"/>
  <xs:element name="DeleteCodeCategoryResponse" type="codes:DeleteCodeCategoryResponse"/>
  <xs:element name="DeleteCodeResponse" type="codes:DeleteCodeResponse"/>
  <xs:element name="GetCode" type="codes:GetCode"/>
  <xs:element name="GetCodeCategories" type="codes:GetCodeCategories"/>
  <xs:element name="GetCodeCategoriesResponse" type="codes:GetCodeCategoriesResponse"/>
  <xs:element name="GetCodeCategory" type="codes:GetCodeCategory"/>
  <xs:element name="GetCodeCategoryData" type="codes:GetCodeCategoryData"/>
  <xs:element name="GetCodeCategoryDataResponse" type="codes:GetCodeCategoryDataResponse"/>
  <xs:element name="GetCodeCategoryName" type="codes:GetCodeCategoryName"/>
  <xs:element name="GetCodeCategoryNameResponse" type="codes:GetCodeCategoryNameResponse"/>
  <xs:element name="GetCodeCategoryResponse" type="codes:GetCodeCategoryResponse"/>
  <xs:element name="GetCodeCategorySummaries" type="codes:GetCodeCategorySummaries"/>
  <xs:element name="GetCodeCategorySummariesResponse" type="codes:GetCodeCategorySummariesResponse"/>
  <xs:element name="GetCodeCategoryUpdated" type="codes:GetCodeCategoryUpdated"/>
  <xs:element name="GetCodeCategoryUpdatedResponse" type="codes:GetCodeCategoryUpdatedResponse"/>
  <xs:element name="GetCodeName" type="codes:GetCodeName"/>
  <xs:element name="GetCodeNameResponse" type="codes:GetCodeNameResponse"/>
  <xs:element name="GetCodeResponse" type="codes:GetCodeResponse"/>
  <xs:element name="GetCodes" type="codes:GetCodes"/>
  <xs:element name="GetCodesResponse" type="codes:GetCodesResponse"/>
  <xs:element name="UpdateCode" type="codes:UpdateCode"/>
  <xs:element name="UpdateCodeCategory" type="codes:UpdateCodeCategory"/>
  <xs:element name="UpdateCodeCategoryResponse" type="codes:UpdateCodeCategoryResponse"/>
  <xs:element name="UpdateCodeResponse" type="codes:UpdateCodeResponse"/>
  <xs:complexType name="GetCodeCategories">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetCodeCategoriesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CodeCategory" type="codes:CodeCategory"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodeCategory">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element minOccurs="0" name="Data" type="xs:string"/>
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCode">
    <xs:sequence>
      <xs:element name="CodeCategoryId" type="xs:string"/>
      <xs:element name="CodeId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodeResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="codes:Code"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Code">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element name="CodeCategoryId" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodeCategoryData">
    <xs:sequence>
      <xs:element name="CodeCategoryId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodeCategoryDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeCategoryData" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteCodeCategory">
    <xs:sequence>
      <xs:element name="CodeCategoryId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteCodeCategoryResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetCodeCategoryName">
    <xs:sequence>
      <xs:element name="CodeCategoryId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodeCategoryNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetCodeCategoryName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateCode">
    <xs:sequence>
      <xs:element name="Code" type="codes:Code"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateCodeResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="UpdateCodeCategory">
    <xs:sequence>
      <xs:element name="CodeCategory" type="codes:CodeCategory"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateCodeCategoryResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="CreateCode">
    <xs:sequence>
      <xs:element name="Code" type="codes:Code"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateCodeResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="CreateCodeCategory">
    <xs:sequence>
      <xs:element name="CodeCategory" type="codes:CodeCategory"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateCodeCategoryResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="DeleteCode">
    <xs:sequence>
      <xs:element name="CodeCategoryId" type="xs:string"/>
      <xs:element name="CodeId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteCodeResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetCodeCategory">
    <xs:sequence>
      <xs:element name="CodeCategoryId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodeCategoryResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeCategory" type="codes:CodeCategory"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodes">
    <xs:sequence>
      <xs:element name="CodeCategoryId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Code" type="codes:Code"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodeCategorySummaries">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetCodeCategorySummariesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="CodeCategorySummary" type="codes:CodeCategorySummary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CodeCategorySummary">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element minOccurs="0" name="Updated" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodeName">
    <xs:sequence>
      <xs:element name="CodeCategoryId" type="xs:string"/>
      <xs:element name="CodeId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodeNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodeCategoryUpdated">
    <xs:sequence>
      <xs:element name="CodeCategoryId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCodeCategoryUpdatedResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodeCategoryUpdated" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CodesServiceException" nillable="true" type="core:ServiceError"/>
  <xs:element name="CodeNotFoundException" nillable="true" type="core:ServiceError"/>
  <xs:element name="CodeCategoryNotFoundException" nillable="true" type="core:ServiceError"/>
  <xs:element name="DuplicateCodeException" nillable="true" type="core:ServiceError"/>
  <xs:element name="DuplicateCodeCategoryException" nillable="true" type="core:ServiceError"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="GetCodeCategorySummariesResponse">
    <wsdl:part element="tns:GetCodeCategorySummariesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateCodeResponse">
    <wsdl:part element="tns:CreateCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeCategories">
    <wsdl:part element="tns:GetCodeCategories" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateCodeCategoryResponse">
    <wsdl:part element="tns:UpdateCodeCategoryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidArgumentException">
    <wsdl:part element="ns1:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateCodeCategoryResponse">
    <wsdl:part element="tns:CreateCodeCategoryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeCategoriesResponse">
    <wsdl:part element="tns:GetCodeCategoriesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeCategoryName">
    <wsdl:part element="tns:GetCodeCategoryName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateCode">
    <wsdl:part element="tns:UpdateCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateCodeCategory">
    <wsdl:part element="tns:UpdateCodeCategory" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeCategoryResponse">
    <wsdl:part element="tns:GetCodeCategoryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateCode">
    <wsdl:part element="tns:CreateCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeCategory">
    <wsdl:part element="tns:GetCodeCategory" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodes">
    <wsdl:part element="tns:GetCodes" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CodeCategoryNotFoundException">
    <wsdl:part element="tns:CodeCategoryNotFoundException" name="CodeCategoryNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CodeNotFoundException">
    <wsdl:part element="tns:CodeNotFoundException" name="CodeNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeResponse">
    <wsdl:part element="tns:GetCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeNameResponse">
    <wsdl:part element="tns:GetCodeNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeCategoryDataResponse">
    <wsdl:part element="tns:GetCodeCategoryDataResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodesResponse">
    <wsdl:part element="tns:GetCodesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DuplicateCodeException">
    <wsdl:part element="tns:DuplicateCodeException" name="DuplicateCodeException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteCodeResponse">
    <wsdl:part element="tns:DeleteCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCode">
    <wsdl:part element="tns:GetCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeCategoryData">
    <wsdl:part element="tns:GetCodeCategoryData" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteCodeCategory">
    <wsdl:part element="tns:DeleteCodeCategory" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeCategoryUpdatedResponse">
    <wsdl:part element="tns:GetCodeCategoryUpdatedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateCodeCategory">
    <wsdl:part element="tns:CreateCodeCategory" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteCode">
    <wsdl:part element="tns:DeleteCode" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateCodeResponse">
    <wsdl:part element="tns:UpdateCodeResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CodesServiceException">
    <wsdl:part element="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeCategorySummaries">
    <wsdl:part element="tns:GetCodeCategorySummaries" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeName">
    <wsdl:part element="tns:GetCodeName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeCategoryUpdated">
    <wsdl:part element="tns:GetCodeCategoryUpdated" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DuplicateCodeCategoryException">
    <wsdl:part element="tns:DuplicateCodeCategoryException" name="DuplicateCodeCategoryException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteCodeCategoryResponse">
    <wsdl:part element="tns:DeleteCodeCategoryResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetCodeCategoryNameResponse">
    <wsdl:part element="tns:GetCodeCategoryNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ICodesService">
    <wsdl:operation name="GetCodeCategories">
      <wsdl:input message="tns:GetCodeCategories" name="GetCodeCategories">
    </wsdl:input>
      <wsdl:output message="tns:GetCodeCategoriesResponse" name="GetCodeCategoriesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCode">
      <wsdl:input message="tns:GetCode" name="GetCode">
    </wsdl:input>
      <wsdl:output message="tns:GetCodeResponse" name="GetCodeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeNotFoundException" name="CodeNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeCategoryData">
      <wsdl:input message="tns:GetCodeCategoryData" name="GetCodeCategoryData">
    </wsdl:input>
      <wsdl:output message="tns:GetCodeCategoryDataResponse" name="GetCodeCategoryDataResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeCategoryNotFoundException" name="CodeCategoryNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCodeCategory">
      <wsdl:input message="tns:DeleteCodeCategory" name="DeleteCodeCategory">
    </wsdl:input>
      <wsdl:output message="tns:DeleteCodeCategoryResponse" name="DeleteCodeCategoryResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeCategoryNotFoundException" name="CodeCategoryNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeCategoryName">
      <wsdl:input message="tns:GetCodeCategoryName" name="GetCodeCategoryName">
    </wsdl:input>
      <wsdl:output message="tns:GetCodeCategoryNameResponse" name="GetCodeCategoryNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeCategoryNotFoundException" name="CodeCategoryNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCode">
      <wsdl:input message="tns:UpdateCode" name="UpdateCode">
    </wsdl:input>
      <wsdl:output message="tns:UpdateCodeResponse" name="UpdateCodeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeNotFoundException" name="CodeNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCodeCategory">
      <wsdl:input message="tns:UpdateCodeCategory" name="UpdateCodeCategory">
    </wsdl:input>
      <wsdl:output message="tns:UpdateCodeCategoryResponse" name="UpdateCodeCategoryResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeCategoryNotFoundException" name="CodeCategoryNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCode">
      <wsdl:input message="tns:CreateCode" name="CreateCode">
    </wsdl:input>
      <wsdl:output message="tns:CreateCodeResponse" name="CreateCodeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DuplicateCodeException" name="DuplicateCodeException">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeCategoryNotFoundException" name="CodeCategoryNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCodeCategory">
      <wsdl:input message="tns:CreateCodeCategory" name="CreateCodeCategory">
    </wsdl:input>
      <wsdl:output message="tns:CreateCodeCategoryResponse" name="CreateCodeCategoryResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:DuplicateCodeCategoryException" name="DuplicateCodeCategoryException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCode">
      <wsdl:input message="tns:DeleteCode" name="DeleteCode">
    </wsdl:input>
      <wsdl:output message="tns:DeleteCodeResponse" name="DeleteCodeResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeNotFoundException" name="CodeNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeCategory">
      <wsdl:input message="tns:GetCodeCategory" name="GetCodeCategory">
    </wsdl:input>
      <wsdl:output message="tns:GetCodeCategoryResponse" name="GetCodeCategoryResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeCategoryNotFoundException" name="CodeCategoryNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodes">
      <wsdl:input message="tns:GetCodes" name="GetCodes">
    </wsdl:input>
      <wsdl:output message="tns:GetCodesResponse" name="GetCodesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeCategoryNotFoundException" name="CodeCategoryNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeCategorySummaries">
      <wsdl:input message="tns:GetCodeCategorySummaries" name="GetCodeCategorySummaries">
    </wsdl:input>
      <wsdl:output message="tns:GetCodeCategorySummariesResponse" name="GetCodeCategorySummariesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeName">
      <wsdl:input message="tns:GetCodeName" name="GetCodeName">
    </wsdl:input>
      <wsdl:output message="tns:GetCodeNameResponse" name="GetCodeNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeNotFoundException" name="CodeNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeCategoryUpdated">
      <wsdl:input message="tns:GetCodeCategoryUpdated" name="GetCodeCategoryUpdated">
    </wsdl:input>
      <wsdl:output message="tns:GetCodeCategoryUpdatedResponse" name="GetCodeCategoryUpdatedResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodeCategoryNotFoundException" name="CodeCategoryNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:CodesServiceException" name="CodesServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CodesServiceSoapBinding" type="tns:ICodesService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetCodeCategories">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCodeCategories">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCodeCategoriesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCode">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeNotFoundException">
        <soap:fault name="CodeNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeCategoryData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCodeCategoryData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCodeCategoryDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeCategoryNotFoundException">
        <soap:fault name="CodeCategoryNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCodeCategory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="DeleteCodeCategory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteCodeCategoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeCategoryNotFoundException">
        <soap:fault name="CodeCategoryNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeCategoryName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCodeCategoryName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCodeCategoryNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeCategoryNotFoundException">
        <soap:fault name="CodeCategoryNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="UpdateCode">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateCodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeNotFoundException">
        <soap:fault name="CodeNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateCodeCategory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="UpdateCodeCategory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateCodeCategoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeCategoryNotFoundException">
        <soap:fault name="CodeCategoryNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CreateCode">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateCodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DuplicateCodeException">
        <soap:fault name="DuplicateCodeException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeCategoryNotFoundException">
        <soap:fault name="CodeCategoryNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateCodeCategory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CreateCodeCategory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateCodeCategoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DuplicateCodeCategoryException">
        <soap:fault name="DuplicateCodeCategoryException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteCode">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="DeleteCode">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteCodeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeNotFoundException">
        <soap:fault name="CodeNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeCategory">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCodeCategory">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCodeCategoryResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeCategoryNotFoundException">
        <soap:fault name="CodeCategoryNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodes">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCodes">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCodesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeCategoryNotFoundException">
        <soap:fault name="CodeCategoryNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeCategorySummaries">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCodeCategorySummaries">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCodeCategorySummariesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCodeName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCodeNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeNotFoundException">
        <soap:fault name="CodeNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetCodeCategoryUpdated">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetCodeCategoryUpdated">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetCodeCategoryUpdatedResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodeCategoryNotFoundException">
        <soap:fault name="CodeCategoryNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="CodesServiceException">
        <soap:fault name="CodesServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CodesService">
    <wsdl:port binding="tns:CodesServiceSoapBinding" name="ICodesServicePort">
      <soap:address location="http://localhost:8080/service/CodesService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>