src/demo-client/src/main/resources/META-INF/wsdl/ErrorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://error.inception.digital" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://core.inception.digital" name="ErrorService" targetNamespace="http://error.inception.digital">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://error.inception.digital" elementFormDefault="unqualified" targetNamespace="http://error.inception.digital" version="1.0">

  <xs:element name="CreateErrorReport" type="tns:CreateErrorReport"/>

  <xs:element name="CreateErrorReportResponse" type="tns:CreateErrorReportResponse"/>

  <xs:element name="ErrorReport" type="tns:ErrorReport"/>

  <xs:complexType name="CreateErrorReport">
    <xs:sequence>
      <xs:element name="ErrorReport" type="tns:ErrorReport"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ErrorReport">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element name="ApplicationId" type="xs:string"/>
      <xs:element name="ApplicationVersion" type="xs:string"/>
      <xs:element name="Description" type="xs:string"/>
      <xs:element minOccurs="0" name="Detail" type="xs:string"/>
      <xs:element minOccurs="0" name="Created" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Who" type="xs:string"/>
      <xs:element minOccurs="0" name="DeviceId" type="xs:string"/>
      <xs:element minOccurs="0" name="Detail" type="xs:string"/>
      <xs:element minOccurs="0" name="Data" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="CreateErrorReportResponse">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://core.inception.digital" xmlns:core="http://core.inception.digital" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://core.inception.digital" version="1.0">
  <xs:element name="InvalidArgumentError" type="core:InvalidArgumentError"/>
  <xs:element name="ServiceError" type="core:ServiceError"/>
  <xs:element name="ValidationError" type="core:ValidationError"/>
  <xs:element name="ValidationErrorAttribute" type="core:ValidationErrorAttribute"/>
  <xs:complexType name="InvalidArgumentError">
    <xs:sequence>
      <xs:element name="When" type="xs:dateTime"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Detail" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ValidationErrors" type="core:ValidationError"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationError">
    <xs:sequence>
      <xs:element name="Property" type="xs:string"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Attributes" type="core:ValidationErrorAttribute"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationErrorAttribute">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element minOccurs="0" name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceError">
    <xs:sequence>
      <xs:element name="When" type="xs:dateTime"/>
      <xs:element name="Code" type="xs:string"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element name="Detail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidArgumentException" nillable="true" type="core:InvalidArgumentError"/>
  <xs:element name="ServiceUnavailableException" nillable="true" type="core:ServiceError"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="InvalidArgumentException">
    <wsdl:part element="ns1:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateErrorReport">
    <wsdl:part element="tns:CreateErrorReport" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceUnavailableException">
    <wsdl:part element="ns1:ServiceUnavailableException" name="ServiceUnavailableException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateErrorReportResponse">
    <wsdl:part element="tns:CreateErrorReportResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IErrorService">
    <wsdl:operation name="CreateErrorReport">
      <wsdl:input message="tns:CreateErrorReport" name="CreateErrorReport">
    </wsdl:input>
      <wsdl:output message="tns:CreateErrorReportResponse" name="CreateErrorReportResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceUnavailableException" name="ServiceUnavailableException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ErrorServiceSoapBinding" type="tns:IErrorService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateErrorReport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CreateErrorReport">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateErrorReportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceUnavailableException">
        <soap:fault name="ServiceUnavailableException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ErrorService">
    <wsdl:port binding="tns:ErrorServiceSoapBinding" name="IErrorServicePort">
      <soap:address location="http://localhost:8080/service/ErrorService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>