src/demo-client/src/main/resources/META-INF/wsdl/ReportingService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://reporting.inception.digital" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://validation.inception.digital" name="ReportingService" targetNamespace="http://reporting.inception.digital">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://validation.inception.digital" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://validation.inception.digital" version="1.0">
  <xs:element name="InvalidArgumentError" type="tns:InvalidArgumentError"/>
  <xs:element name="ValidationError" type="tns:ValidationError"/>
  <xs:element name="ValidationErrorAttribute" type="tns:ValidationErrorAttribute"/>
  <xs:complexType name="InvalidArgumentError">
    <xs:sequence>
      <xs:element name="When" type="xs:dateTime"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Detail" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ValidationErrors" type="tns:ValidationError"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationError">
    <xs:sequence>
      <xs:element name="Property" type="xs:string"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Attributes" type="tns:ValidationErrorAttribute"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationErrorAttribute">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element minOccurs="0" name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidArgumentException" nillable="true" type="tns:InvalidArgumentError"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:validation="http://validation.inception.digital" xmlns:tns="http://reporting.inception.digital" xmlns:reporting="http://reporting.inception.digital" xmlns:core="http://core.inception.digital" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://reporting.inception.digital" version="1.0">
  <xs:element name="CreateReportDefinition" type="tns:CreateReportDefinition"/>
  <xs:element name="CreateReportDefinitionResponse" type="tns:CreateReportDefinitionResponse"/>
  <xs:element name="DeleteReportDefinition" type="tns:DeleteReportDefinition"/>
  <xs:element name="DeleteReportDefinitionResponse" type="tns:DeleteReportDefinitionResponse"/>
  <xs:element name="GenerateReport" type="tns:GenerateReport"/>
  <xs:element name="GenerateReportResponse" type="tns:GenerateReportResponse"/>
  <xs:element name="GetReportDefinition" type="tns:GetReportDefinition"/>
  <xs:element name="GetReportDefinitionName" type="tns:GetReportDefinitionName"/>
  <xs:element name="GetReportDefinitionNameResponse" type="tns:GetReportDefinitionNameResponse"/>
  <xs:element name="GetReportDefinitionResponse" type="tns:GetReportDefinitionResponse"/>
  <xs:element name="GetReportDefinitionSummaries" type="tns:GetReportDefinitionSummaries"/>
  <xs:element name="GetReportDefinitionSummariesResponse" type="tns:GetReportDefinitionSummariesResponse"/>
  <xs:element name="GetReportDefinitions" type="tns:GetReportDefinitions"/>
  <xs:element name="GetReportDefinitionsResponse" type="tns:GetReportDefinitionsResponse"/>
  <xs:element name="ReportDefinition" type="tns:ReportDefinition"/>
  <xs:element name="ReportDefinitionSummary" type="tns:ReportDefinitionSummary"/>
  <xs:element name="ReportParameter" type="tns:ReportParameter"/>
  <xs:element name="UpdateReportDefinition" type="tns:UpdateReportDefinition"/>
  <xs:element name="UpdateReportDefinitionResponse" type="tns:UpdateReportDefinitionResponse"/>
  <xs:complexType name="CreateReportDefinition">
    <xs:sequence>
      <xs:element name="ReportDefinition" type="tns:ReportDefinition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportDefinition">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Template" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateReportDefinitionResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GenerateReport">
    <xs:sequence>
      <xs:element name="ReportDefinitionId" type="xs:string"/>
      <xs:element maxOccurs="unbounded" name="ReportParameters" type="tns:ReportParameter"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportParameter">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GenerateReportResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Report" type="xs:base64Binary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetReportDefinition">
    <xs:sequence>
      <xs:element name="ReportDefinitionId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetReportDefinitionResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportDefinition" type="tns:ReportDefinition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetReportDefinitionSummaries">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetReportDefinitionSummariesResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ReportDefinitionSummary" type="tns:ReportDefinitionSummary"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReportDefinitionSummary">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetReportDefinitionName">
    <xs:sequence>
      <xs:element name="ReportDefinitionId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetReportDefinitionNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="ReportDefinitionName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteReportDefinition">
    <xs:sequence>
      <xs:element name="ReportDefinitionId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteReportDefinitionResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetReportDefinitions">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetReportDefinitionsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ReportDefinition" type="tns:ReportDefinition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateReportDefinition">
    <xs:sequence>
      <xs:element name="ReportDefinition" type="tns:ReportDefinition"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateReportDefinitionResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:element name="ReportingServiceException" nillable="true" type="core:ServiceError"/>
  <xs:element name="DuplicateReportDefinitionException" nillable="true" type="core:ServiceError"/>
  <xs:element name="ReportDefinitionNotFoundException" nillable="true" type="core:ServiceError"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://core.inception.digital" xmlns:core="http://core.inception.digital" elementFormDefault="unqualified" targetNamespace="http://core.inception.digital" version="1.0">

  <xs:element name="ServiceError" type="tns:ServiceError"/>

  <xs:complexType name="ServiceError">
    <xs:sequence>
      <xs:element name="When" type="xs:dateTime"/>
      <xs:element name="Code" type="xs:string"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element name="Detail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="CreateReportDefinition">
    <wsdl:part element="tns:CreateReportDefinition" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GenerateReport">
    <wsdl:part element="tns:GenerateReport" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetReportDefinition">
    <wsdl:part element="tns:GetReportDefinition" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GenerateReportResponse">
    <wsdl:part element="tns:GenerateReportResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetReportDefinitionSummaries">
    <wsdl:part element="tns:GetReportDefinitionSummaries" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetReportDefinitionSummariesResponse">
    <wsdl:part element="tns:GetReportDefinitionSummariesResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteReportDefinitionResponse">
    <wsdl:part element="tns:DeleteReportDefinitionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateReportDefinitionResponse">
    <wsdl:part element="tns:CreateReportDefinitionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="InvalidArgumentException">
    <wsdl:part element="ns1:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateReportDefinitionResponse">
    <wsdl:part element="tns:UpdateReportDefinitionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetReportDefinitionsResponse">
    <wsdl:part element="tns:GetReportDefinitionsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetReportDefinitionResponse">
    <wsdl:part element="tns:GetReportDefinitionResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetReportDefinitionNameResponse">
    <wsdl:part element="tns:GetReportDefinitionNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetReportDefinitionName">
    <wsdl:part element="tns:GetReportDefinitionName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteReportDefinition">
    <wsdl:part element="tns:DeleteReportDefinition" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetReportDefinitions">
    <wsdl:part element="tns:GetReportDefinitions" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReportingServiceException">
    <wsdl:part element="tns:ReportingServiceException" name="ReportingServiceException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ReportDefinitionNotFoundException">
    <wsdl:part element="tns:ReportDefinitionNotFoundException" name="ReportDefinitionNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateReportDefinition">
    <wsdl:part element="tns:UpdateReportDefinition" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DuplicateReportDefinitionException">
    <wsdl:part element="tns:DuplicateReportDefinitionException" name="DuplicateReportDefinitionException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IReportingService">
    <wsdl:operation name="CreateReportDefinition">
      <wsdl:input message="tns:CreateReportDefinition" name="CreateReportDefinition">
    </wsdl:input>
      <wsdl:output message="tns:CreateReportDefinitionResponse" name="CreateReportDefinitionResponse">
    </wsdl:output>
      <wsdl:fault message="tns:DuplicateReportDefinitionException" name="DuplicateReportDefinitionException">
    </wsdl:fault>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:ReportingServiceException" name="ReportingServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateReport">
      <wsdl:input message="tns:GenerateReport" name="GenerateReport">
    </wsdl:input>
      <wsdl:output message="tns:GenerateReportResponse" name="GenerateReportResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:ReportDefinitionNotFoundException" name="ReportDefinitionNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:ReportingServiceException" name="ReportingServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReportDefinition">
      <wsdl:input message="tns:GetReportDefinition" name="GetReportDefinition">
    </wsdl:input>
      <wsdl:output message="tns:GetReportDefinitionResponse" name="GetReportDefinitionResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:ReportDefinitionNotFoundException" name="ReportDefinitionNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:ReportingServiceException" name="ReportingServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReportDefinitionSummaries">
      <wsdl:input message="tns:GetReportDefinitionSummaries" name="GetReportDefinitionSummaries">
    </wsdl:input>
      <wsdl:output message="tns:GetReportDefinitionSummariesResponse" name="GetReportDefinitionSummariesResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ReportingServiceException" name="ReportingServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReportDefinitionName">
      <wsdl:input message="tns:GetReportDefinitionName" name="GetReportDefinitionName">
    </wsdl:input>
      <wsdl:output message="tns:GetReportDefinitionNameResponse" name="GetReportDefinitionNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:ReportDefinitionNotFoundException" name="ReportDefinitionNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:ReportingServiceException" name="ReportingServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteReportDefinition">
      <wsdl:input message="tns:DeleteReportDefinition" name="DeleteReportDefinition">
    </wsdl:input>
      <wsdl:output message="tns:DeleteReportDefinitionResponse" name="DeleteReportDefinitionResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:ReportDefinitionNotFoundException" name="ReportDefinitionNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:ReportingServiceException" name="ReportingServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReportDefinitions">
      <wsdl:input message="tns:GetReportDefinitions" name="GetReportDefinitions">
    </wsdl:input>
      <wsdl:output message="tns:GetReportDefinitionsResponse" name="GetReportDefinitionsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ReportingServiceException" name="ReportingServiceException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateReportDefinition">
      <wsdl:input message="tns:UpdateReportDefinition" name="UpdateReportDefinition">
    </wsdl:input>
      <wsdl:output message="tns:UpdateReportDefinitionResponse" name="UpdateReportDefinitionResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:ReportDefinitionNotFoundException" name="ReportDefinitionNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:ReportingServiceException" name="ReportingServiceException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ReportingServiceSoapBinding" type="tns:IReportingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateReportDefinition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CreateReportDefinition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateReportDefinitionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="DuplicateReportDefinitionException">
        <soap:fault name="DuplicateReportDefinitionException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReportingServiceException">
        <soap:fault name="ReportingServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReportDefinition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetReportDefinition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetReportDefinitionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReportDefinitionNotFoundException">
        <soap:fault name="ReportDefinitionNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReportingServiceException">
        <soap:fault name="ReportingServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateReport">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GenerateReport">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GenerateReportResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReportDefinitionNotFoundException">
        <soap:fault name="ReportDefinitionNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReportingServiceException">
        <soap:fault name="ReportingServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReportDefinitionSummaries">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetReportDefinitionSummaries">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetReportDefinitionSummariesResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ReportingServiceException">
        <soap:fault name="ReportingServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReportDefinitionName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetReportDefinitionName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetReportDefinitionNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReportDefinitionNotFoundException">
        <soap:fault name="ReportDefinitionNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReportingServiceException">
        <soap:fault name="ReportingServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteReportDefinition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="DeleteReportDefinition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteReportDefinitionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReportDefinitionNotFoundException">
        <soap:fault name="ReportDefinitionNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReportingServiceException">
        <soap:fault name="ReportingServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetReportDefinitions">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetReportDefinitions">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetReportDefinitionsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ReportingServiceException">
        <soap:fault name="ReportingServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateReportDefinition">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="UpdateReportDefinition">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateReportDefinitionResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReportDefinitionNotFoundException">
        <soap:fault name="ReportDefinitionNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ReportingServiceException">
        <soap:fault name="ReportingServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReportingService">
    <wsdl:port binding="tns:ReportingServiceSoapBinding" name="IReportingServicePort">
      <soap:address location="http://localhost:8080/service/ReportingService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>