src/demo-client/src/main/resources/META-INF/wsdl/SchedulerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://scheduler.inception.digital" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://schemas.xmlsoap.org/soap/http" xmlns:ns1="http://core.inception.digital" name="SchedulerService" targetNamespace="http://scheduler.inception.digital">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://scheduler.inception.digital" xmlns:scheduler="http://scheduler.inception.digital" xmlns:core="http://core.inception.digital" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://scheduler.inception.digital" version="1.0">
  <xs:element name="CreateJob" type="scheduler:CreateJob"/>
  <xs:element name="CreateJobResponse" type="scheduler:CreateJobResponse"/>
  <xs:element name="DeleteJob" type="scheduler:DeleteJob"/>
  <xs:element name="DeleteJobResponse" type="scheduler:DeleteJobResponse"/>
  <xs:element name="GetJob" type="scheduler:GetJob"/>
  <xs:element name="GetJobName" type="scheduler:GetJobName"/>
  <xs:element name="GetJobNameResponse" type="scheduler:GetJobNameResponse"/>
  <xs:element name="GetJobResponse" type="scheduler:GetJobResponse"/>
  <xs:element name="GetJobs" type="scheduler:GetJobs"/>
  <xs:element name="GetJobsResponse" type="scheduler:GetJobsResponse"/>
  <xs:element name="Job" type="scheduler:Job"/>
  <xs:element name="JobParameter" type="scheduler:JobParameter"/>
  <xs:element name="UpdateJob" type="scheduler:UpdateJob"/>
  <xs:element name="UpdateJobResponse" type="scheduler:UpdateJobResponse"/>
  <xs:complexType name="DeleteJob">
    <xs:sequence>
      <xs:element name="JobId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DeleteJobResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="UpdateJob">
    <xs:sequence>
      <xs:element name="Job" type="scheduler:Job"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Job">
    <xs:sequence>
      <xs:element name="Id" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="SchedulingPattern" type="xs:string"/>
      <xs:element name="JobClass" type="xs:string"/>
      <xs:element name="Enabled" type="xs:boolean"/>
      <xs:element name="Status" type="scheduler:JobStatus"/>
      <xs:element minOccurs="0" name="ExecutionAttempts" type="xs:int"/>
      <xs:element minOccurs="0" name="LockName" type="xs:string"/>
      <xs:element minOccurs="0" name="LastExecuted" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="NextExecution" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="Parameters">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Parameter" type="scheduler:JobParameter"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JobParameter">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UpdateJobResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetJobName">
    <xs:sequence>
      <xs:element name="jobId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetJobNameResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="JobName" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetJobs">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="GetJobsResponse">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Job" type="scheduler:Job"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetJob">
    <xs:sequence>
      <xs:element name="JobId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetJobResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Job" type="scheduler:Job"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateJob">
    <xs:sequence>
      <xs:element name="Job" type="scheduler:Job"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreateJobResponse">
    <xs:sequence/>
  </xs:complexType>
  <xs:simpleType name="JobStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unscheduled"/>
      <xs:enumeration value="Scheduled"/>
      <xs:enumeration value="Executing"/>
      <xs:enumeration value="Executed"/>
      <xs:enumeration value="Aborted"/>
      <xs:enumeration value="Failed"/>
      <xs:enumeration value="OnceOff"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="JobNotFoundException" nillable="true" type="core:ServiceError"/>
  <xs:element name="DuplicateJobException" nillable="true" type="core:ServiceError"/>
</xs:schema>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://core.inception.digital" xmlns:core="http://core.inception.digital" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://core.inception.digital" version="1.0">
  <xs:element name="InvalidArgumentError" type="core:InvalidArgumentError"/>
  <xs:element name="ServiceError" type="core:ServiceError"/>
  <xs:element name="ValidationError" type="core:ValidationError"/>
  <xs:element name="ValidationErrorAttribute" type="core:ValidationErrorAttribute"/>
  <xs:complexType name="InvalidArgumentError">
    <xs:sequence>
      <xs:element name="When" type="xs:dateTime"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element name="Name" type="xs:string"/>
      <xs:element name="Detail" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="ValidationErrors" type="core:ValidationError"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationError">
    <xs:sequence>
      <xs:element name="Property" type="xs:string"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Attributes" type="core:ValidationErrorAttribute"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ValidationErrorAttribute">
    <xs:sequence>
      <xs:element name="Name" type="xs:string"/>
      <xs:element minOccurs="0" name="Value" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ServiceError">
    <xs:sequence>
      <xs:element name="When" type="xs:dateTime"/>
      <xs:element name="Code" type="xs:string"/>
      <xs:element name="Message" type="xs:string"/>
      <xs:element name="Detail" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InvalidArgumentException" nillable="true" type="core:InvalidArgumentError"/>
  <xs:element name="ServiceUnavailableException" nillable="true" type="core:ServiceError"/>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="InvalidArgumentException">
    <wsdl:part element="ns1:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateJobResponse">
    <wsdl:part element="tns:CreateJobResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateJob">
    <wsdl:part element="tns:UpdateJob" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateJobResponse">
    <wsdl:part element="tns:UpdateJobResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetJobName">
    <wsdl:part element="tns:GetJobName" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetJobs">
    <wsdl:part element="tns:GetJobs" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteJobResponse">
    <wsdl:part element="tns:DeleteJobResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateJob">
    <wsdl:part element="tns:CreateJob" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetJobResponse">
    <wsdl:part element="tns:GetJobResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteJob">
    <wsdl:part element="tns:DeleteJob" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetJobNameResponse">
    <wsdl:part element="tns:GetJobNameResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetJobsResponse">
    <wsdl:part element="tns:GetJobsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DuplicateJobException">
    <wsdl:part element="tns:DuplicateJobException" name="DuplicateJobException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ServiceUnavailableException">
    <wsdl:part element="ns1:ServiceUnavailableException" name="ServiceUnavailableException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetJob">
    <wsdl:part element="tns:GetJob" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="JobNotFoundException">
    <wsdl:part element="tns:JobNotFoundException" name="JobNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ISchedulerService">
    <wsdl:operation name="DeleteJob">
      <wsdl:input message="tns:DeleteJob" name="DeleteJob">
    </wsdl:input>
      <wsdl:output message="tns:DeleteJobResponse" name="DeleteJobResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:JobNotFoundException" name="JobNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceUnavailableException" name="ServiceUnavailableException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateJob">
      <wsdl:input message="tns:UpdateJob" name="UpdateJob">
    </wsdl:input>
      <wsdl:output message="tns:UpdateJobResponse" name="UpdateJobResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:JobNotFoundException" name="JobNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceUnavailableException" name="ServiceUnavailableException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetJobName">
      <wsdl:input message="tns:GetJobName" name="GetJobName">
    </wsdl:input>
      <wsdl:output message="tns:GetJobNameResponse" name="GetJobNameResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:JobNotFoundException" name="JobNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceUnavailableException" name="ServiceUnavailableException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetJobs">
      <wsdl:input message="tns:GetJobs" name="GetJobs">
    </wsdl:input>
      <wsdl:output message="tns:GetJobsResponse" name="GetJobsResponse">
    </wsdl:output>
      <wsdl:fault message="tns:ServiceUnavailableException" name="ServiceUnavailableException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetJob">
      <wsdl:input message="tns:GetJob" name="GetJob">
    </wsdl:input>
      <wsdl:output message="tns:GetJobResponse" name="GetJobResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:JobNotFoundException" name="JobNotFoundException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceUnavailableException" name="ServiceUnavailableException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateJob">
      <wsdl:input message="tns:CreateJob" name="CreateJob">
    </wsdl:input>
      <wsdl:output message="tns:CreateJobResponse" name="CreateJobResponse">
    </wsdl:output>
      <wsdl:fault message="tns:InvalidArgumentException" name="InvalidArgumentException">
    </wsdl:fault>
      <wsdl:fault message="tns:DuplicateJobException" name="DuplicateJobException">
    </wsdl:fault>
      <wsdl:fault message="tns:ServiceUnavailableException" name="ServiceUnavailableException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SchedulerServiceSoapBinding" type="tns:ISchedulerService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DeleteJob">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="DeleteJob">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="DeleteJobResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="JobNotFoundException">
        <soap:fault name="JobNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceUnavailableException">
        <soap:fault name="ServiceUnavailableException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateJob">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="UpdateJob">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="UpdateJobResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="JobNotFoundException">
        <soap:fault name="JobNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceUnavailableException">
        <soap:fault name="ServiceUnavailableException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetJobs">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetJobs">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetJobsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceUnavailableException">
        <soap:fault name="ServiceUnavailableException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetJobName">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetJobName">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetJobNameResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="JobNotFoundException">
        <soap:fault name="JobNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceUnavailableException">
        <soap:fault name="ServiceUnavailableException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetJob">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="GetJob">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="GetJobResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="JobNotFoundException">
        <soap:fault name="JobNotFoundException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceUnavailableException">
        <soap:fault name="ServiceUnavailableException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateJob">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="CreateJob">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="CreateJobResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="InvalidArgumentException">
        <soap:fault name="InvalidArgumentException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="DuplicateJobException">
        <soap:fault name="DuplicateJobException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ServiceUnavailableException">
        <soap:fault name="ServiceUnavailableException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SchedulerService">
    <wsdl:port binding="tns:SchedulerServiceSoapBinding" name="ISchedulerServicePort">
      <soap:address location="http://localhost:8080/service/SchedulerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>